DATABASE_URL="postgresql://postgres:password@localhost:5432/odoo_pos_cafe"
JWT_SECRET="odoo_pos_cafe_super_secret_key_2024"
NEXT_PUBLIC_SOCKET_URL="http://localhost:3001"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
